body {
    margin: 0;
    background-image: url(stripe.png);
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F5B199;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 10px 3px #2b2b2b;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: #F8FBF8;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    transition-duration: 0.3s;
}

ul.topnav li a:hover{
    background-color: #EE827C;
}

.backToTop{
    position: fixed;
    top: 600px;
    background-color: #F5B199;
    right: 0;
    height: 60px;
    width: 60px;
    transition-duration: 0.3s;
}

.backToTop:hover{
    background-color: #EE827C;
}

.backToTop a{
    display: block;
    color: #F8FBF8;
    text-align: center;
    margin: auto;
    text-decoration: none;
}

#indexBkgImg {
    width: 100%;
    height: 700px;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
}

.opacity {
    animation: 1s ani linear;
    animation-fill-mode: forwards;
}

@keyframes ani {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 0;
    }
}

#bkgImg1{
    position: relative;
    top: 0;
    background-image: url("Image/Img1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 700px;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
}

#bkgImg2{
    position: relative;
    top: -700px;
    background-image: url("Image/Img1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 700px;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
}

.info {
    color: #F8FBF8;
}

.music{
    position: relative;
    margin-left: 200px;
    top: -140px;
}

.musicControl{
    float: left;
    height: 50px;
    width: 220px;
    overflow: hidden;
}

.musicControl.prev {
    background: url(musicprev.png);
    float: left;
    height: 50px;
    width: 50px;
    opacity: 80%;
    transition-duration: 0.3s;
}

.musicControl.prev:hover{
    filter: brightness(70%);
}

.musicControl.play {
    background: url(musicplay.png) no-repeat;
    float: left;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    opacity: 80%;
    transition-duration: 0.3s;
}

.musicControl.play:hover{
    filter: brightness(70%);
}

.musicControl.next {
    background: url(musicnext.png);
    float: left;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    opacity: 80%;
    transition-duration: 0.3s;
}

.musicControl.next:hover{
    filter: brightness(70%);
}

.musicTitle{
    float: left;
    height: 50px;
    width: 200px;
    text-align: center;
    overflow: hidden;
}

#TrackTitle{
    color: #F8FBF8;
    float: left;
    line-height: 50px;
}

.loginWindow{
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    top: 200px;
    right: 200px;
    height: 375px;
    width: 300px;
    border-radius: 25px;
}

.loginWindow form>div:nth-of-type(1){
    margin-top: 40px;
    margin-left: 50px;
}

.loginWindow form>input:nth-of-type(1){
    margin-top: 3px;
    margin-left: 40px;
    width: 220px;
    height: 40px;
    padding: 0 15px;
    border: 0;
    border-radius: 15px;
}

.loginWindow form>input:nth-of-type(1):focus{
    outline: none;
}

.loginWindow form>div:nth-of-type(2){
    margin-top: 20px;
    margin-left: 50px;
}

.loginWindow form>input:nth-of-type(2){
    margin-top: 3px;
    margin-left: 40px;
    width: 220px;
    height: 40px;
    padding: 0 15px;
    border: 0;
    border-radius: 15px;
}

.loginWindow form>input:nth-of-type(2):focus{
    outline: none;
}

.loginWindow button{
    margin-top: 30px;
    margin-left: 40px;
    width: 220px;
    height: 40px;
    border: 0;
    border-radius: 15px;
    background-color: #F5B199;
    transition-duration: 0.3s;
    outline: none;
}

.loginWindow button:hover{
    background-color: #EE827C;
    color: #F8FBF8;
}

.registerWindow{
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    top: 200px;
    left: 600px;
    margin: auto;
    height: 385px;
    width: 300px;
    border-radius: 25px;
}

.registerWindow form>div:nth-of-type(1){
    margin-top: 40px;
    margin-left: 50px;
}

.registerWindow form>input:nth-of-type(1){
    margin-top: 3px;
    margin-left: 40px;
    width: 220px;
    height: 40px;
    padding: 0 15px;
    border: 0;
    border-radius: 15px;
}

.registerWindow form>input:nth-of-type(1):focus{
    outline: none;
}

.registerWindow form>div:nth-of-type(2){
    margin-top: 20px;
    margin-left: 50px;
}

.registerWindow form>input:nth-of-type(2){
    margin-top: 3px;
    margin-left: 40px;
    width: 220px;
    height: 40px;
    padding: 0 15px;
    border: 0;
    border-radius: 15px;
}

.registerWindow form>input:nth-of-type(2):focus{
    outline: none;
}

.registerWindow form>div:nth-of-type(3){
    margin-top: 20px;
    margin-left: 50px;
}

.registerWindow form>input:nth-of-type(3){
    margin-top: 3px;
    margin-left: 40px;
    width: 220px;
    height: 40px;
    padding: 0 15px;
    border: 0;
    border-radius: 15px;
}

.registerWindow form>input:nth-of-type(3):focus{
    outline: none;
}

.registerWindow button{
    margin-top: 15px;
    margin-left: 40px;
    width: 220px;
    height: 40px;
    border: 0;
    border-radius: 15px;
    background-color: #F5B199;
    transition-duration: 0.3s;
    outline: none;
}

.registerWindow button:hover{
    background-color: #EE827C;
    color: #F8FBF8;
}

.loginWindow div{
    margin-left: 60px;
    margin-top: 30px;
}

.loginWindow div>a{
    margin-left: 5px;
    text-decoration: none;

}

#pageBand{
    background: #F5B199;
    width: 100%;
    height: 70px;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: 0 -70px 100px 30px #281A14;
}

.footer {
    background: #F5B199;
    width: 100%;
    height: 100px;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
}

.footer_left {
    padding: 20px;
}