body {
    margin: 0;
    background-image: url(stripe.png);
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F5B199;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: #F8FBF8;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

.backToTop{
    position: fixed;
    top: 600px;
    background-color: #F5B199;
    right: 0;
    height: 60px;
    width: 60px;
}

.backToTop a{
    display: block;
    color: #F8FBF8;
    text-align: center;
    margin: auto;
    text-decoration: none;
}

#indexBkgImg {
    width: 100%;
    height: 700px;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
}

#bkgImg1{
    position: relative;
    top: 0;
    background-image: url("Image/Img1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 700px;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
}

#bkgImg2{
    position: relative;
    top: -700px;
    background-image: url("Image/Img1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 700px;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
}

.info {
    color: #F8FBF8;
}

.music{
    position: absolute;
    top: 80%;
    left: 15%;
}

.musicControl{
    float: left;
    height: 50px;
    width: 220px;
    overflow: hidden;
}

.musicControl.prev {
    background: url(musicprev.png);
    float: left;
    height: 50px;
    width: 50px;
}

.musicControl.play {
    background: url(musicplay.png) no-repeat;
    float: left;
    margin-left: 20px;
    height: 50px;
    width: 50px;
}

.musicControl.next {
    background: url(musicnext.png);
    float: left;
    margin-left: 20px;
    height: 50px;
    width: 50px;
}

.musicTitle{
    float: left;
    height: 50px;
    width: 200px;
    text-align: center;
    overflow: hidden;
}

#TrackTitle{
    color: #F8FBF8;
    float: left;
    line-height: 50px;
}

.loginWindow{
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    top: 200px;
    right: 200px;
    height: 400px;
    width: 300px;
    border-radius: 25px;
}

#pageBand{
    background: #F5B199;
    width: 100%;
    height: 70px;
    border: 0;
    padding: 0;
    margin: 0;
}

.footer {
    background: #F5B199;
    width: 100%;
    height: 100px;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
}

.footer_left {
    padding: 20px;
}