body {
    margin: 0;
    background-color: #fefbf6;
}

.clear{
    background: rgba(255,255,255,0);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, #feae34 0%, #fe9733 100%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 0 10px 3px #2b2b2b;
}

ul.topnav li,ul.clear li{float: left;}

ul.topnav li a{
    display: block;
    color: #2b2b2b;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    transition-duration: 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-size: 110%;
    font-style: italic;
}

ul.clear li a{
    display: block;
    color: #F8FBF8;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    transition-duration: 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-size: 110%;
    font-style: italic;
}

ul.topnav li span{
    display: block;
    color: #2b2b2b;
    text-align: center;
    padding: 14px 10vw;
    transition-duration: 0.3s;
    font-family: 'pingFangSC-Light', sans-serif;
    font-size: 150%;
}

ul.clear li span{
    display: block;
    color: #F8FBF8;
    text-align: center;
    padding: 14px 10vw;
    transition-duration: 0.3s;
    font-family: 'pingFangSC-Light', sans-serif;
    font-size: 150%;
}

ul.topnav li a:hover,ul.clear li a:hover{
    background-color: #f18a14;
    color: #F8FBF8;
}

.backToTop{
    display: none;
    position: fixed;
    top: 600px;
    background: linear-gradient(to right, #feae34 0%, #fe9733 100%);
    right: 0;
    transition-duration: 0.3s;
    z-index: 1;
}

.backToTop a{
    display: block;
    text-align: center;
    padding: 15px 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    margin: auto;
    text-decoration: none;
    color: #2b2b2b;
}

.backToTop a:hover{
    background-color: #f18a14;
}

#indexBkgImg {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
}

.opacity {
    animation: 1s ani linear;
    animation-fill-mode: forwards;
}

@keyframes ani {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 0;
    }
}

.opacity2 {
    animation: 0.8s ani2 linear;
    animation-fill-mode: forwards;
}

@keyframes ani2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

#bkgImg1{
    position: relative;
    top: 0;
    background-image: url("Image/Img1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
}

#bkgImg2{
    position: relative;
    top: -100vh;
    background-image: url("Image/Img1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
}

.info {
    color: #F8FBF8;
}

.music{
    position: relative;
    margin-left: 200px;
    top: -140px;
    z-index: 1;
}

.musicControl{
    float: left;
    height: 50px;
    width: 220px;
    overflow: hidden;
}

.musicControl.prev {
    background: url(musicprev.png);
    float: left;
    height: 50px;
    width: 50px;
    opacity: 80%;
    transition-duration: 0.3s;
}

.musicControl.prev:hover{
    filter: brightness(70%);
}

.musicControl.play {
    background: url(musicplay.png) no-repeat;
    float: left;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    opacity: 80%;
    transition-duration: 0.3s;
}

.musicControl.play:hover{
    filter: brightness(70%);
}

.musicControl.next {
    background: url(musicnext.png);
    float: left;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    opacity: 80%;
    transition-duration: 0.3s;
}

.musicControl.next:hover{
    filter: brightness(70%);
}

.musicTitle{
    float: left;
    height: 50px;
    width: 400px;
    text-align: center;
    overflow: hidden;
    font-family: 'Noto Serif JP', serif;
    font-size: 120%;
}

#TrackTitle{
    color: #F8FBF8;
    float: left;
    line-height: 50px;
}

.welcome{
    position: absolute;
    color: #F8FBF8;
    top: 200px;
    right: 200px;
    height: 375px;
    width: 120px;
    font-size: 120px;
    line-height: 120%;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.welcome:after{
    content: '';
    position: absolute;
    top: 0;
    left: 60px;
    right: 0;
    bottom: 0;
    height: 325px;
    width: 0;
    box-shadow: 0 0 150px 70px #2b2b2b;
    z-index: -1;
}

.loginWindow{
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    top: 200px;
    right: 200px;
    height: 375px;
    width: 300px;
    border-radius: 25px;
    font-family: 'Raleway', sans-serif;
}

.loginWindow form>div:nth-of-type(1){
    margin-top: 40px;
    margin-left: 50px;
}

.loginWindow form>input:nth-of-type(1){
    margin-top: 3px;
    margin-left: 40px;
    width: 220px;
    height: 40px;
    padding: 0 15px;
    border: 0;
    border-radius: 15px;
}

.loginWindow form>input:nth-of-type(1):focus{
    outline: none;
}

.loginWindow form>div:nth-of-type(2){
    margin-top: 20px;
    margin-left: 50px;
}

.loginWindow form>input:nth-of-type(2){
    margin-top: 3px;
    margin-left: 40px;
    width: 220px;
    height: 40px;
    padding: 0 15px;
    border: 0;
    border-radius: 15px;
}

.loginWindow form>input:nth-of-type(2):focus{
    outline: none;
}

.loginWindow button{
    margin-top: 30px;
    margin-left: 40px;
    width: 220px;
    height: 40px;
    border: 0;
    border-radius: 15px;
    background: linear-gradient(to right, #feae34 0%, #fe9733 100%);
    transition-duration: 0.3s;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.loginWindow button:hover{
    color: #F8FBF8;
    filter: brightness(95%);
}

.registerWindow{
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    top: 200px;
    left: 600px;
    margin: auto;
    height: 385px;
    width: 300px;
    border-radius: 25px;
    font-family: 'Raleway', sans-serif;
}

.registerWindow form>div:nth-of-type(1){
    margin-top: 40px;
    margin-left: 50px;
}

.registerWindow form>input:nth-of-type(1){
    margin-top: 3px;
    margin-left: 40px;
    width: 220px;
    height: 40px;
    padding: 0 15px;
    border: 0;
    border-radius: 15px;
}

.registerWindow form>input:nth-of-type(1):focus{
    outline: none;
}

.registerWindow form>div:nth-of-type(2){
    margin-top: 20px;
    margin-left: 50px;
}

.registerWindow form>input:nth-of-type(2){
    margin-top: 3px;
    margin-left: 40px;
    width: 220px;
    height: 40px;
    padding: 0 15px;
    border: 0;
    border-radius: 15px;
}

.registerWindow form>input:nth-of-type(2):focus{
    outline: none;
}

.registerWindow form>div:nth-of-type(3){
    margin-top: 20px;
    margin-left: 50px;
}

.registerWindow form>input:nth-of-type(3){
    margin-top: 3px;
    margin-left: 40px;
    width: 220px;
    height: 40px;
    padding: 0 15px;
    border: 0;
    border-radius: 15px;
}

.registerWindow form>input:nth-of-type(3):focus{
    outline: none;
}

.registerWindow button{
    margin-top: 15px;
    margin-left: 40px;
    width: 220px;
    height: 40px;
    border: 0;
    border-radius: 15px;
    background: linear-gradient(to right, #feae34 0%, #fe9733 100%);
    transition-duration: 0.3s;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.registerWindow button:hover{
    color: #F8FBF8;
    filter: brightness(95%);
}

.loginWindow div{
    margin-left: 60px;
    margin-top: 30px;
    font-family: 'pingFangSC-Light', sans-serif;
    font-size: 110%;
}

.loginWindow div>a{
    margin-left: 5px;
    text-decoration: none;

}

.memoBlock{
    margin-left: 27px;
    margin-right: 27px;
    margin-top: 40px;
    padding: 20px;
    border-radius: 25px;
    background: linear-gradient(to right, #feae34 0%, #fe9733 100%);
    float: left;
    height: 150px;
    width: 240px;
    transition-duration: 0.5s;
}

.memoBlock:hover{
    background-color: #f18a14;
}

.memoButton{
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    width: 220px;
    height: 40px;
    border: 0;
    border-radius: 15px;
    background: linear-gradient(to right, #feae34 0%, #fe9733 100%);
    transition-duration: 0.3s;
    outline: none;
}

.memoButton:hover{
    filter: brightness(95%);
}

#memo{
    margin-top: 160px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 60%;
    padding: 25px;
    border: 0;
    border-radius: 15px;
}

#memo:focus{
    outline: none;
}

#pageBand{
    background: linear-gradient(to right, #feae34 0%, #fe9733 100%);
    width: 100%;
    height: 70px;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: 0 -60px 100px 30px #281A14;
}

.stackBanner{
    margin: 0 auto;
    width: 100%;
    height: 75px;
}

.stackBanner div:nth-of-type(1){
    text-align: center;
    line-height: 65px;
    letter-spacing: 7px;
    font-size: 350%;
    font-family: 'Kosugi Maru', sans-serif;
    opacity: 20%;
    color: #ff9720;
}

.stackBanner div:nth-of-type(2){
    position: relative;
    top: -75%;
    text-align: center;
    letter-spacing: 10px;
    font-size: 200%;
    font-family: "STYuanti-SC-Bold", sans-serif;
    color: #ff9720;
}

.sceneImg{
    position: relative;
    left: -15vw;
    background-image: url("scenePhoto.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
}

.introduction{
    margin: 0 auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20px;
    font-size: 110%;
    line-height: 160%;
    font-family: 'pingFangSC-Light', sans-serif;
}

.introduction span{
    font-family: 'Noto Serif JP', serif;
}

.videoTitle{
    height: 150px;
    width: 100%;
    text-align: center;
    line-height: 250px;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.videoDescribe{
    height: 150px;
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-family: 'Sawarabi Mincho', sans-serif;
    color: #F8FBF8;
}

.insertVideo{
    float: left;
    height: 300px;
    width: 50%;
}

.insertVideo iframe{
    border: none;
    width: 400px;
    height: 225px;
    margin: 37px;
}

#indexSponsorTable{
    width: 100%;
    height: 225px;
    font-family: 'Noto Serif JP', serif;
    overflow: scroll;
}

#indexSponsorTable table tr td{
    font-size: 170%;
    text-align: center;
}

.linkOfficial{
    text-align: center;
    line-height: 100px;
    letter-spacing: 7px;
    font-size: 150%;
    font-family: "STYuanti-SC-Bold", sans-serif;
    color: #ff9720;
    margin: 0 auto;
    width: 30%;
    height: 100px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.linkOfficial:hover{
    color: #be6c0b;
}


.footer {
    background: linear-gradient(to right, #feae34 0%, #fe9733 100%);
    width: 100%;
    height: 100px;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
}

.footer_left {
    padding: 20px;
}

.shopBanner{
    height: 200px;
    width: 100vw;
}

.goodBlock{
    background-color: #fefbf6;
    margin: 15px;
    height: 330px;
    width: 250px;
    float: left;
    outline: 1px solid darkgray;
    transition-duration: 0.3s;
}

.goodBlock:hover{
    outline: 1px solid #ff9720;
}

.goodImg{
    margin-top: 15px;
    margin-right: 3%;
    margin-left: 3%;
    height: 150px;
    width: 94%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.goodName{
    height: 25px;
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-family: 'pingFangSC-Light', sans-serif;
    font-size: 100%;
}

.goodPrice{
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 320%;
    font-family: 'Noto Serif JP', serif;
}

.goodPrice span{
    font-size: 60%;
}

.goodStock{
    height: 10px;
    width: 100%;
    text-align: center;
    line-height: 10px;
    font-family: 'pingFangSC-Light', sans-serif;
    font-size: 100%;
}
.goodBlock form input:nth-of-type(2){
    height: 40px;
    width: 29%;
    margin: 10px 3%;
    float: left;
    text-align: center;
    line-height: 40px;
    font-family: 'pingFangSC-Light', sans-serif;
    font-size: 130%;
    border: none;
    border-radius: 30px;
    background-color: #ffdebd;
}

.goodBlock form input:nth-of-type(2):focus{
    outline: none;
}

.goodBlock form input:nth-of-type(3){
    height: 40px;
    width: 62%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 3%;
    float: left;
    text-align: center;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 30px;
    background-color: #ff9720;
    transition-duration: 0.3s;
}

.goodBlock form input:nth-of-type(3):hover,.goodBlock form input:nth-of-type(3):focus{
    background-color: #f18a14;
    color: #F8FBF8;
    outline: none;
}

.cart{
    height: 300px;
    width: 500px;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #F8FBF8;
}

.cartGood{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 480px;
    height: 240px;
    overflow: scroll;
}

.cartGoodBlock{
    height: 50px;
    width: 100%;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #281A14;
}

.cartGoodImg{
    float: left;
    margin: 2px;
    height: 46px;
    width: 46px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cartGoodName{
    float: left;
    margin: 5px 15px;
    height: 40px;
    width: 200px;
    line-height: 40px;
    font-family: 'pingFangSC-Light', sans-serif;
    font-size: 100%;
}

.cartGoodPrice{
    float: left;
    margin: 5px 10px;
    height: 40px;
    width: 60px;
    line-height: 40px;
    font-family: 'Noto Serif JP', serif;
    font-size: 100%;
}

.cartGoodAmount{
    float: left;
    margin: 5px 10px;
    height: 40px;
    width: 20px;
    line-height: 40px;
    font-family: 'Noto Serif JP', serif;
    font-size: 100%;
}

.cartGoodBlock form input:nth-of-type(2){
    float: left;
    margin: 5px 10px;
    height: 40px;
    width: 60px;
    line-height: 37px;
    font-family: 'pingFangSC-Light', sans-serif;
    font-size: 100%;
    border: none;
    border-radius: 20px;
    background-color: #ff9720;
    transition-duration: 0.3s;
}

.cartGoodBlock form input:nth-of-type(2):hover,.cartGoodBlock form input:nth-of-type(2):focus{
    background-color: #f18a14;
    color: #F8FBF8;
    outline: none;
}

.cartSum{
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #feae34 0%, #fe9733 100%);
    color: #281A14;
}

#fold{
    float: left;
    height: 50px;
    width: 75px;
    text-align: center;
    line-height: 50px;
    font-family: 'pingFangSC-Light', sans-serif;
    font-size: 130%;
}

.cartSum div:nth-of-type(2){
    float: left;
    margin: 5px 5px 5px 0;
    height: 40px;
    width: 200px;
    text-align: right;
    line-height: 40px;
    font-family: 'pingFangSC-Light', sans-serif;
    font-size: 130%;
}

.cartSum div:nth-of-type(3){
    float: left;
    margin-top: 5px;
    height: 40px;
    width: 90px;
    line-height: 35px;
    font-family: 'Noto Serif JP', serif;
    font-size: 130%;
}

.cartSum div:nth-of-type(3) span{
    font-size: 70%;
}

.cartSum button{
    float: left;
    height: 50px;
    width: 130px;
    border: none;
    background-color: transparent;
    line-height: 40px;
    font-family: 'pingFangSC-Light', sans-serif;
    font-size: 130%;
    transition-duration: 0.5s;
}

.cartSum button:hover{
    background-color: #f18a14;
}

.cartSum button:focus{
    outline: none;
}

#shopBackImg{
    height: 100vh;
    width: 100vw;
    filter: brightness(70%);
    background-image: url("Image/shop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.movebkg1{
    background-position: top right;
    transition-duration: 110s;
    transition-timing-function: linear;
}

.movebkg2{
    background-position: top left;
    transition-duration: 110s;
    transition-timing-function: linear;
}

